{% load static %}
{% include 'basis_of_project/header.html' %}

{% block content %}

    <!--Banner Section Start-->
    <section id="home" class="banner-section pt-page" style="background-image: url('img/background/home-bg.jpg')">

        <div class="banner-content">
            <!--Banner Text-->
            <h1 class="mb-20">{{ first.first_name_en }} <span>{{ first.second_name_en }}</span></h1>
            <!--Animated Text-->
            <p class="cd-headline clip is-full-width">
                <span>I am a </span>
                <span class="cd-words-wrapper">
                            <b class="is-visible"> ... </b>
                    {% for item_home in home %}
                            <b>{{ item_home.title_en }}</b>
                    {% empty %}
                    {% endfor %}
                </span>

            </p>

        </div>

    </section>

<!--Banner Section End-->
{% endblock content %}


{% include 'basis_of_project/footer.html' %}




