<!DOCTYPE html>
{% load static %}
<html lang="en" data-random-animation="false" data-animation="11">
    <head>

        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="vcard, resume, personal, portfolio, cv, card, responsive" />
        <meta name="description" content="vCard / Resume / Personal / Portfolio Template" />
        <meta name="author" content="cosmos-themes" />

        <!--Page Title-->
        {% block title %}
	    <title> {{ first.site_name_en }} </title>
        {% endblock title %}

        <!--Plugins Css-->
        <link rel="stylesheet" href="{% static 'basis_of_project/css/plugins.css' %}">
        <!--Main Styles Css-->
        <link rel="stylesheet" href="{% static 'basis_of_project/css/style-dark.css' %}">
        <!--Color Css-->
        <link rel="stylesheet" href="{% static 'basis_of_project/css/blue-color.css' %}">
        <!--Modernizr Js-->
        <script src="{% static 'basis_of_project/js/modernizr.js' %}"></script>
        <!--Favicons-->
        <link rel="shortcut icon" href="basis_of_project/img/favicon.ico" type="image/x-icon">

    </head>

    <body>

    {% include 'basis_of_project/preloader.html' %}

        <div id="page">

            <!--Header Start-->
            <header>
                <div class="header-content">

                    <!--Mobile Header-->
                    <div class="header-mobile">
                        <a class="header-toggle"><i class="fas fa-bars"></i></a>
                        <h2>{{ first.first_name_en }}  {{ first.second_name_en }} </h2>
                    </div>

                    <!--Main Header-->
                    <div class="header-main" data-simplebar>
                        <div class="image-container">
                            <h2 class="header-name">{{ first.first_name_en }}  {{ first.second_name_en }}</h2>
                            {% if first.foto %}
                            <img src="{{ first.foto.url }}" alt="{{ first.first_name_en }}">
                            {% endif %}
                        </div>

                        <!--Nav Menus-->
                        <nav class="nav-menu">
                            <ul>
                        {% for item_menu in menu %}
                                <li><a href="{{ item_menu.url_name }}" class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-envelope"></i></span> {{ item_menu.title }} </a></li>
                                 {% empty %}
                                <li> No menu have been added yet </li>
                        {% endfor %}
                                <!--<li><a href="#home" class="pt-link active"><span class="nav-menu-icon"><i class="lnr lnr-home"></i></span>Home </a> </li>
                                <li><a href={{ item_menu.url_name }} class="pt-link"><span class="nav-menu-icon"><i class="lnr lnr-envelope"></i></span> {{ item_menu.title }} </a></li>
                   -->
                            </ul>
                        </nav>

                        <!--Nav Footer-->
                        <div class="nav-footer">
                            <!--Social Links-->
                            <ul class="social">
                                <li><a href={{ first.href_facebook }}><i class="fab fa-facebook-square fa-2x"></i></a></li>
                                <li><a href={{ first.href_instagram }}><i class="fab fa-instagram fa-2x "></i></a></li>
                                <li><a href={{ first.href_github }}><i class="fab fa-github-square fa-spin fa-2x"></i></a></li>
                                <li><a href={{ first.href_linkedin }}><i class="fab fa-linkedin fa-pulse fa-2x"></i></a></li>
                                <!--<li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance-square"></i></a></li>-->
                            </ul>
                            <!--Copyright Text-->
                            <div class="copy">
                                <p>2023 &copy; ci <br>All Right Reserved.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!--Header End-->

<!--Main Start-->
<div id="main" class="site-main">