{% load static %}
{% include 'basis_of_project/header.html' %}

{% block content %}

<form action="{% url 'contact_page:contact' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="{{ form.first_name.id_for_label }}">Your first_name:</label>
        {{ form.first_name }}
    </div>

    <div class="fieldWrapper">
        {{ form.last_name.errors }}
        <label for="{{ form.last_name.id_for_label }}">Your last_name:</label>
        {{ form.last_name }}
    </div>

    <div class="fieldWrapper">
        {{ form.email_address.errors }}
        <label for="{{ form.email_address.id_for_label }}">Your email_address:</label>
        {{ form.email_address }}
    </div>

    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="{{ form.message.id_for_label }}">Your message:</label>
        {{ form.message }}
    </div>

    <div class="fieldWrapper">
        {{ form.captcha.errors }}
        <label for="{{ form.captcha.id_for_label }}">Your captcha:</label>
        {{ form.captcha }}
    </div>

    <button type="submit" class="btn btn-primary">Send Message </button>

</form>

{% endblock content %}
{% include 'basis_of_project/footer.html' %}